<!-- Footer Section -->
<footer>
    <div class="footer-container">
        <!-- Social Media Links -->
        <div class="footer-social">
            <a href="https://instagram.com" target="_blank">Instagram</a>
            <a href="https://facebook.com" target="_blank">Facebook</a>
            <a href="https://twitter.com" target="_blank">Twitter</a>
        </div>
        <!-- Contact Info -->
        <div class="footer-contact">
            <p>123 Coffee Lane, Brewtown, USA</p>
            <p>Phone: (123) 456-7890</p>
            <p>Email: contact@thecoffeeshop.com</p>
        </div>
        <!-- Copyright and Credit -->
        <div class="footer-credit">
            <p>&copy; 2024 The Coffee Shop. All rights reserved.</p>
            <p>Powered by <a href="https://yourcompany.com" target="_blank">Your Company Name</a>.</p>
        </div>
    </div>
</footer>
